<section data-ng-controller="ResourcesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Resources</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="resource in resources" data-ng-href="#!/resources/{{resource._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="resource.created | date:'medium'"></span>
				by
				<span data-ng-bind="resource.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="resource.name"></h4>
            Level: <span data-ng-bind="resource.level"></span>
            Availability Date: <span data-ng-bind="resource.availability_date"></span>
            </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!resources.$resolved || resources.length">
    	No Resources yet, why don't you <a href="/#!/resources/create">create one</a>?
    </div>
</section>