<section data-ng-controller="ResourcesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="resource.name"></h1>
		Level: <span data-ng-bind="resource.level_resource"></span>
		<br>
    	Availability Date: <span data-ng-bind="resource.availability_date"></span>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == resource.user._id))">
		<a class="btn btn-primary" href="/#!/resources/{{resource._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="resource.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="resource.user.displayName"></span>
		</em>
	</small>
</section>
