<section data-ng-controller="ProjectsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Project</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="project.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                    <label class="control-label" for="estimated_duration_days">Estimated duration (days)</label>
                    <div class="controls">
                        <input type="text" data-ng-model="project.estimated_duration_days" id="estimated_duration_days" class="form-control" placeholder="Number of days" required>
                    </div>
                    <label class="control-label" for="priority">Priority</label>
                    <div class="controls">
                        <select ng-model="priority" data-ng-options="opt.label for opt in project_priority_list" >
                        </select>
                    </div>                      
                    <label class="control-label" for="start_date">Start date</label>
                    <div class="controls">
                        <input type="date" data-ng-model="project.start_date" id="start_date" class="form-control" placeholder="Start date" required>
                    </div>
                    <br/>
                    <div class="form-group">
                        <label class="control-label" for="name">Required Resources</label>
                        <table st-table="project.required_resources" class="table table-striped">
                             <thead>
                              <tr>
                                 <th> Type </th>
                                 <th> Level </th>
                                 <th> Amount </th>
                                 <th> Remove </th>
                              </tr>
                             </thead>
                             <tr ng-repeat="required_resource in project.required_resources">
                                <td>{{required_resource.resource_type}} </td>
                                <td>{{required_resource.resource_level}} </td>
                                <td>{{required_resource.resource_amount}} </td>
                                <td>
                                    <a class="btn btn-primary" data-ng-click="removeRequiredResourceFrom($index);">
                                        <i class="glyphicon glyphicon-minus"></i>
                                    </a> 
                                </td>
                            </tr>
                              <tr>
                                 <td>
                                    <select data-ng-model="required_resource_type" ng-options="rr_types.name for rr_types in required_resources_types_list" required></select>
                                 </td>

                                 <td> 
                                    <select data-ng-model="required_resource_level" ng-options="rr_levels.name for rr_levels in required_resources_levels_list" required></select>
                                </td>
                                 <td> <input type="number" data-ng-model="required_resource_amount" id="required_resource_amount" ng-pattern="onlyNumbers" class="form-control" placeholder="Amount"> </td>
                                 <td><a class="btn btn-primary" data-ng-click="addRequiredResourceFrom();">                          <i class="glyphicon glyphicon-plus"></i></a></td>
                              </tr>                        
                        </table>                       
                    </div>
                    <hr/>
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-default">
                    </div>
				</div>
                <div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>