<section data-ng-controller="ProjectsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="project.name"></h1>
		<hr/>
		<label class="control-label" for="name">Estimated duration:</label> 
		<span data-ng-bind="project.estimated_duration_days"></span>
        <br/>
		<label class="control-label" for="name">Priority:</label> 
		<span data-ng-bind="project.priority"></span>
        <br/>        
        <label class="control-label" for="name">Required Resources</label>
        <table st-table="project.required_resources" class="table table-striped">
             <thead>
              <tr>
                 <th> Type </th>
                 <th> Level </th>
                 <th> Amount </th>
              </tr>
             </thead>
             <tr ng-repeat="required_resource in project.required_resources">
                <td>{{required_resource.resource_type}} </td>
                <td>{{required_resource.resource_level}} </td>
                <td>{{required_resource.resource_amount}} </td>
            </tr>
        </table> 

	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == project.user._id">
		<a class="btn btn-primary" href="/#!/projects/{{project._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="project.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="project.user.displayName"></span>
		</em>
	</small>
</section>